

{% extends "_base.html" %}
{% load compress %}
{% load static %}
{% block css %}
    <title>Women in Cloud</title>
    {% compress css %}
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    {% endcompress %}
{% endblock css %}
{% block nav %}
<ul class="flex flex-col p-4 mt-4  rounded-lg bg-gray-50 md:flex-row md:space-x-20 md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
  <li>
    <a href="/stud_index" class="block py-2 pl-3 pr-4 text blue bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-blue-300"
 aria-current="page">Home</a>
  </li>
  <li>
    <a href="/apply_projects" class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-white dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Projects</a>
  </li>
  <li>
    <a href="/apply_internships" class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-white dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Internships</a>
  </li>

    <li>
      <a href="/apply_events" class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-white dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Events</a>

    </li>

  <li class="scroll-to-section">
    <nav class="bg-white border-gray-200 px-2 sm:px-4 py-2.5 rounded dark:bg-gray-900">
      <div class="container flex flex-wrap items-center justify-between mx-auto">

        <div class="flex items-center md:order-2">
            <button type="button" class="flex mr-3 text-sm bg-gray-800 rounded-full md:mr-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600" id="user-menu-button" aria-expanded="false" data-dropdown-toggle="user-dropdown" data-dropdown-placement="bottom">
              <span class="sr-only">Open user menu</span>
              <img class="w-8 h-8 rounded-full" src="{% static 'images/user-solid.jpg' %}" alt="{{stud.student_first_name}} {{student_last_name}}">
            </button>
            <!-- Dropdown menu -->
            <div class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600" id="user-dropdown">
              <div class="px-4 py-3">
                <span class="block text-sm text-gray-900 dark:text-white">{{stud.student_first_name}} {{student_last_name}}</span>
                <span class="block text-sm font-medium text-gray-500 truncate dark:text-gray-400">{{stud.email_id}}</span>
              </div>
              <ul class="py-2" aria-labelledby="user-menu-button">
                <li style="margin-left: 22%;">
                  <a href="/getstud" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">View Profile</a>
                </li>
                <li style="margin-left: 25%;">
                  <div class="gradient-button">
                    <a
                      id="modal_trigger"
                      onclick="location.href='{% url 'logout' %}'"
                      ><i class="fa fa-sign-in-alt"></i> Logout</a
                    >
                  </div>
                </li>
              </ul>
            </div>
            <button data-collapse-toggle="mobile-menu-2" type="button" class="inline-flex items-center p-2 ml-1 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="mobile-menu-2" aria-expanded="false">
              <span class="sr-only">Open main menu</span>
              <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
          </button>
        </div>
        
      </div>
      </div>
    </nav>
  </li>
</ul>
{% endblock nav%}
{% block content %}
<br/>
<div id="services" class="services section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div
          class="section-heading wow fadeInDown"
          data-wow-duration="1s"
          data-wow-delay="0.5s"
        >
          <h4>Are<em>You Hired?</em></h4>
          <img src="{% static 'images/heading-line-dec.png' %}" alt="" />
        </div>
      </div>
    </div>
  </div>
  </div>
<div class="table-containerr" style="margin: 80px auto; margin-top: 0px;
width: 80%; ">
  <table class="table" style=" width: 100%;border-collapse: collapse;">
    <!-- Flowbite table code goes here -->
    
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <div class="flex items-center justify-between pb-4">
      <div>

        <button id="dropdownRadioButton" class="inline-flex items-center text-gray-500 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-3 py-1.5 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700" type="button">
          INTERNSHIPS
      </button>
          <!-- Dropdown menu -->
          
      </div>
      
  </div>
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
              <th scope="col" class="px-6 py-3">
                  Company name
              </th>
              <th scope="col" class="px-6 py-3">
                Description
            </th>
              <th scope="col" class="px-6 py-3">
                  Requirements
              </th>
              <th scope="col" class="px-6 py-3">
                  Start Date/End Date
              </th>
          </tr>
      </thead>
      <tbody>
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">

              <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                  {{stud.on_going_internship.company_name}}
              </td>
              <td class="px-6 py-4">
                {{stud.on_going_internship.role_description}}
            </td>
              <td class="px-6 py-4">
                  {{stud.on_going_internship.requirements}}
              </td>
              <td class="px-6 py-4">
                  {{ stud.on_going_internship.start_date|slice:'0:10' }} - {{ stud.on_going_internship.end_date|slice:'0:10' }}
              </td>
              
          </tr>
      </tbody>
  </table>
</div>
  </table>
</div>
<div class="table-containerr" style="margin: 80px auto; margin-top: 0px;
width: 80%; ">
  <table class="table" style=" width: 100%;border-collapse: collapse;">
    <!-- Flowbite table code goes here -->
    
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <div class="flex items-center justify-between pb-4">
      <div>

        <button id="dropdownRadioButton" class="inline-flex items-center text-gray-500 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-3 py-1.5 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700" type="button">
          PROJECTS
      </button>
          <!-- Dropdown menu -->
          
      </div>
      
  </div>
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>

              <th scope="col" class="px-6 py-3">
                  Company name
              </th>
              <th scope="col" class="px-6 py-3">
                Description
            </th>
              <th scope="col" class="px-6 py-3">
                  Requirements
              </th>
              <th scope="col" class="px-6 py-3">
                  Start Date/End Date
              </th>
          </tr>
      </thead>
      <tbody>
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">

              <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                  {{stud.on_going_project.company_name}}
              </td>
              <td class="px-6 py-4">
                {{stud.on_going_project.description}}
            </td>
              <td class="px-6 py-4">
                  {{stud.on_going_project.requirements}}
              </td>
              <td class="px-6 py-4">
                  {{ stud.on_going_project.start_date|slice:'0:10' }} - {{ stud.on_going_project.end_date|slice:'0:10' }}
              </td>
              
          </tr>
      </tbody>
  </table>
</div>
  </table>
</div>

{% endblock content %}
{% block js %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
const Toast = Swal.mixin({
  toast: true,
  position: 'top-end',
  showConfirmButton: false,
  timer: 3000,
  timerProgressBar: true,
  didOpen: (toast) => {
    toast.addEventListener('mouseenter', Swal.stopTimer)
    toast.addEventListener('mouseleave', Swal.resumeTimer)
  }
})

Toast.fire({
  icon: 'success',
  title: 'Signed in successfully'
})
</script>
{% endblock js %}